[req]
distinguished_name = dn
req_extensions = ext
prompt = no

[dn]
CN = localhost

[ext]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:localhost,DNS:envoy-service.default.svc.cluster.local,IP:127.0.0.1
